body {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
    width: 100vw;
    cursor: pointer;
    margin: 0;
}

div {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    font-size: 10vw;
    text-align: center;
}